menu "Custom Project Configuration"
    config MY_WIFI_SSID
        string "WiFi SSID"
        default "Your_SSID"
    config MY_WIFI_PASSWORD
        string "WiFi Password"
        default "Your_Password"
endmenu